@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-ibm);
  --font-heading: var(--font-sedan);
  --font-mono: var(--font-geist-mono);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --pearl: #f0ead6;
  --scarlet: #ff1637;
  --obsidian: #121212;
  --mist: #f2f4f3;

  /* Light */
  --background: #ffffff;
  --foreground: #000000;

  --card: var(--pearl);
  --card-foreground: #000000;

  --popover: var(--obsidian);
  --popover-foreground: #ffffff;

  --primary: var(--scarlet);
  --primary-foreground: #ffffff;

  --secondary: var(--mist);
  --secondary-foreground: #000000;

  --muted: var(--mist);
  --muted-foreground: #666666;

  --accent: var(--pearl);
  --accent-foreground: #000000;

  --border: #000000;
  --input: #d9d9d9;
  --ring: var(--scarlet);

  --destructive: var(--scarlet);

  --radius: 0.625rem;
}

.dark {
  /* Dark */
  --background: #000000;
  --foreground: #ffffff;

  --card: var(--obsidian);
  --card-foreground: #ffffff;

  --popover: var(--pearl);
  --popover-foreground: #000000;

  --primary: var(--scarlet);
  --primary-foreground: #ffffff;

  --secondary: #181818;
  --secondary-foreground: #ffffff;

  --muted: #181818;
  --muted-foreground: #a3a3a3;

  --accent: var(--obsidian);
  --accent-foreground: #ffffff;

  --border: #333333;
  --input: #333333;
  --ring: var(--scarlet);

  --destructive: var(--scarlet);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sedan);
  }
}
