@import "tailwindcss";

@import "tw-animate-css";

@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-ibm);
  --font-heading: var(--font-playfair);
  --font-mono: var(--font-geist-mono);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --sunset-coral: #ff5b3e;
  --honey-yellow: #ffd84d;
  --ink-black: #111111;
  --buttermilk: #fff8e8;
  --background: var(--buttermilk);
  --foreground: var(--ink-black);

  --card: #ffffff;
  --card-foreground: var(--ink-black);

  --popover: var(--ink-black);
  --popover-foreground: var(--buttermilk);

  --primary: var(--sunset-coral);
  --primary-foreground: #ffffff;

  --secondary: var(--honey-yellow);
  --secondary-foreground: var(--ink-black);

  --muted: #f2ead8;
  --muted-foreground: #665f52;

  --accent: var(--buttermilk);
  --accent-foreground: var(--ink-black);

  --destructive: var(--sunset-coral);

  --border: var(--ink-black);
  --input: #d8d0c0;
  --ring: var(--sunset-coral);

  --radius: 0.625rem;
}

.dark {
  --background: var(--ink-black);
  --foreground: var(--buttermilk);

  --card: #181818;
  --card-foreground: var(--buttermilk);

  --popover: var(--buttermilk);
  --popover-foreground: var(--ink-black);

  --primary: var(--sunset-coral);
  --primary-foreground: #ffffff;

  --secondary: var(--honey-yellow);
  --secondary-foreground: var(--ink-black);

  --muted: #1d1d1d;
  --muted-foreground: #aaa396;

  --accent: #181818;
  --accent-foreground: var(--buttermilk);

  --destructive: var(--sunset-coral);

  --border: #333333;
  --input: #333333;
  --ring: var(--sunset-coral);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sedan);
  }
}
